<div class="slot">
    <!-- Channel Num -->
    <div class="row pt-2 m-2">
        <div class="col-12 text-center h4 text-white">
            Input Ch {{input.number}}
        </div>
    </div>
    
    <!-- Phantom -->
    <div class="row mx-2 justify-content-center">
        <button type="button" (click)="phantom()" class="btn btn-secondary" [ngClass]="(input.phantom) ?  'drk' : 'black'"><strong>+48v</strong></button>
    </div>

    <!-- Gain -->
    <div class="row mx-2">
        <app-input-gain class="mx-auto" [label]="strLabel" (lvlChange)="changeGain($event)" [value]="input.gain"></app-input-gain>
    </div>

    <!-- Phase -->
    <div class="row m-2 justify-content-center">
        <button type="button" (click)="phase()" class="btn btn-secondary" [ngClass]="(input.phase) ?  'drk' : 'black'"><strong>Phase</strong></button>
    </div>
 
    <!-- Mute -->
    <div class="row m-2 justify-content-center">
        <button type="button" (click)="mute()" class="btn btn-secondary" [ngClass]="(input.mute) ?  'drk' : 'black'"><strong>Mute</strong></button>
    </div>

    <!-- Fader -->
    <div class="row pt-2 m-2 pl-3">
        <div class="col-12 slider">
            <ng5-slider [(value)]="input.level" [options]="verticalSlider.options" (userChangeEnd)="onUserChangeEnd($event)"></ng5-slider>
        </div>
    </div>

    <div class="row pt-2 m-2">
        <div class="col-12 text-center h4 text-white">
            Level
        </div>
    </div>

    <div class="row pt-2 m-2">
        <app-delay [state]="input.delayState" [delay]="input.delay" (dlyChange)="changeDelay($event)" class="col-12"></app-delay>
    </div>

    <!-- <div class="row m-2 justify-content-center">
        <button type="button" (click)="git()" class="btn btn-primary"><strong>get</strong></button>
    </div> -->
</div>