<h4 class="text-center text-white">{{label}} (ms)</h4>

<div class="row m-2 justify-content-center">
    <input #delayInput class="form-control text-center" type="text" (keyup.enter)="onEnter(delayInput.value); delayInput.value = '';" style="border-radius: 8px; background-color: white;">
</div>

<div class="row m-2 justify-content-center">
    <button type="button" (click)="disable()" class="btn btn-secondary" [ngClass]="state ?  'drk' : 'grn'">
        <strong>Delay</strong>
    </button>
</div>